<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notaneitor</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:replace="fragments/nav"/>

<div class="container">
  <h2>Empleados</h2>
  <p>Los empleados son los siguientes:</p>
  <div class="table-responsive">          
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-1">id</th>
        <th>Descripción</th>
        <th>Puntuación</th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeesList}">
      <td th:text="${employee.username}">71888888X</td>
      <td th:text="${employee.name}">Nombre del empleado</td>
      <td th:text="${employee.surname}">Apellidos del empleado</td>
      <td><a th:href="${'/employee/details/' + employee.id}">detalles</a></td>
      <td><a th:href="${'/employee/edit/' + employee.id}">modificar</a></td>
      <td><a th:href="${'/employee/delete/' + employee.id}">eliminar</a></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>


</body>
</html>
